{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tell us what you want</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bully/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bully/sign.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Enter your choice of item</h2>

        <div class="form-label-group">
        <input type="text" name='item' class="form-control" placeholder="Item" required autofocus>
      </div>


      <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

      {{ message }}

    </div> <!-- /container -->

  </body>
</html>
